<IfModule mod_rewrite.c>
RewriteEngine On

# Base de reescrita CORRETA para XAMPP: o caminho no servidor web
RewriteBase /AreaDeTrabalho/public/

# Se o arquivo ou diretório existir, não reescreve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para index.php e passa o parâmetro "url"
# O $1 conterá apenas o path limpo (ex: 'sobre' ou 'login/submit')
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


</IfModule>