*{
    margin: 0px;
    padding: 0px;
}

main{
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card#form-card-login{
    max-width: 400px; 
    width: 100%; 
    max-height: 500px;
    height: 100%;
}